<h1>Lista cytatów</h1>

<table class="btn2">
  <tr>
    <td colspan="2"><div class="btn"><%= will_paginate @posts %></div></td>
  </tr>

<% @fortunes.each do |fortune| %>
  <tr>
    <td colspan="2"><p class="btn-info"><%= fortune.quotation %></p></td>
  </tr>
  <tr>
     <td align="left"><em>autor: <%= fortune.source %></em></td>
     <td align="right">
        <div class="btn"><%= link_to 'Pokaż', fortune %></div>
        <div class="btn"><%= link_to 'Edytuj', edit_fortune_path(fortune) %></div>
        <div class="btn"><%= link_to 'Usuń', fortune, confirm: 'Napewno usunąć?', method: :delete %></div>
     </td>
  </tr>
<% end %>
</table>

<br />
<div class="btn"><%= will_paginate @posts %></div>
<div class="btn"><%= link_to 'Nowy cytat', new_fortune_path %></div>
